@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gustavo Cunha Santos</h1>
    <p><a href="/Vagas/index" class="btn btn-primary btn-lg">Vagas &raquo;</a></p>
    <p><a href="https://github.com/Gustavo13Cs/Funil" class="btn btn-primary btn-lg">Repositorio &raquo;</a></p>
</div>

